<section class="container-fluid bg-dark min-vh-100 bg">
    <div class="row">
        <div class="col-8 clock p-0">
          <div class=" card p-0 ">
            <div class="clock-container card-body d-inline-flex justify-content-around align-items-center">
              <div class="d-flex text-center align-items-center">
                <h2 >{{hour}}</h2>
                <h2 class="dot">:</h2>
                <h2 >{{minute}}</h2>
                <h2 class="dot">:</h2>
                <h2 >{{seconds}}</h2>
                <span >{{am}}</span>
              </div>
              <div class="">
                <h2>{{day}}</h2>
              </div>
              <div>
                <p>with angular pipe</p>
                <hr>
                {{date | date:'hh:mm:ss:a'}}
              </div>
            </div>
          </div>
        </div>
    </div>
</section>