.clock{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 15px;
}

.card{
    background-color: transparent;
}

.card-body{
    border: 0px;
}

.container-fluid{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,204,1) 78%, rgba(0,212,255,1) 100%);
}